<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Data.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>818C467C1D3CAA9300FD11AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>818C46951D3CAA9300FD11AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>818C46A01D3CAA9400FD11AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
